$textPrimary: #fff;
$textSecondary: #bfbfbf;
$backgroundPrimary: #171023;
$backgroundSecondary: #2c243b;
$buttonPrimary: #8a42db;
$buttonSecondary: #413a4f;
$highlightColor: #7dffaf;
$gradient: linear-gradient(90deg, #9955e8 0%, #7bffaf 100%);
