<section id="resume" class="container">
  <div class="left-content">
    <h1 class="kalam">Hi, I'm Otávio</h1>
    <h4>Front-End developer and innovation enthusiast</h4>

    <p>
      Over 4 years of experience in the tech industry. I specialize in building
      innovative web
      <br />
      and mobile applications using technologies such as React, Angular React
      Native, and <br />
      Node.js.
    </p>

    <div class="buttons">
      <app-action-button
        [button-type]="'secondary'"
        [button-icon]="'file-text'"
        [button-text]="'My resume'"
      />
      <app-action-button
        [button-type]="'primary'"
        [button-icon]="'arrow-right'"
        [button-text]="'Get in touch'"
        [icon-right]="true"
      />
    </div>
  </div>
  <img src="assets/first.png" alt="" />
</section>
